body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.google-map-header{
  height: 15vh;
  background-color: #F4F3EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  padding-top: 20px;
  color: #699882;
  
}

.palces-buttons .palce-btn{
  background-image: linear-gradient(to top, #ABD1C0 0% , #88C5A8 100%);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-size: 15px;
  border-radius: 20px;
}

.palces-buttons .palce-btn:hover{
  background-image: linear-gradient(to top, #6f9181 0% , #5d9479 100%);

}